In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [8]:
soup = BeautifulSoup(response, 'html.parser')

In [25]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_ = 'employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [32]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [41]:
# Question 1: What is the average age of employees found at the link above?
df['age'] = df['age'].astype(int)

average_age = df['age'].mean()
print(average_age)

29.875

In [49]:
#Question 2: What is the standard deviation of employees found at the link above (according to pandas)? Round final answer to two decimal places.
std_dev = df['age'].std()
std_dev_round = round(std_dev, 2)
print(std_dev_round)

3.56